<style>
    .user {
        font-weight: bold;
    }
    .roles {
        color: lightgray;
    }
    .content {
    }
    .mark {
        color: gray;
    }
</style>

<h1>{{proposal.title}}</h1>

{% for stage, stage_comments in comments %}
    <h2>{{stage}}</h2>

    {% for comment in stage_comments %}
    <p>
        <span class="user">
            {{ comment.user.name }}
        </span>
        <span class="mark">
            {{ comment.mark|mark }}
        </span>
        <span class="roles">
            {{ comment.user.roles|join(', ', attribute='name') }}
        </span>
        <p class="content">{{ comment.content }}</p>
    </p>
    {% endfor %}
{% endfor %}